# Only sources to have the same build on every machine

*

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!*/package.json
!*/tsconfig.json

!api/
!core/
!extension/*.ts
!proxy/*.ts
!scripts/*.ts

!docs/*.md

!landings/
landings/*.md
landings/dist/
landings/generated/
landings/screenshots/
landings/scripts/save-images.ts
landings/vite.config.ts.timestamp*

!web/*.ts
!web/.browserslistrc
!web/app.html
!web/nginx.conf
!web/.storybook/
!web/benchmark/
!web/demo/
!web/lib/
!web/main/
!web/pages/
!web/popups/
!web/postcss/
!web/public/
!web/scripts/*.ts
!web/stores/
!web/stories/
!web/ui/
!web/vite/
web/public/demo.json
web/public/demo.sqlite
web/public/icon-192.png

!server/*.ts
!server/aaguids/
!server/db/
!server/lib/
!server/modules/
server/aaguids/names.json
server/db/pgdata/

**/node_modules/
**/tsconfig.tsbuildinfo
