{
  "extends": [
    "@logux/eslint-config/esm"
  ],
  "plugins": [
    "svelte3"
  ],
  "rules": {
    "node/no-unpublished-require": "off",
    "import/extensions": "off"
  },
  "overrides": [
    {
      "files": [
        "*.svelte"
      ],
      "parser": "@typescript-eslint/parser",
      "processor": "svelte3/svelte3",
      "rules": {
        "import/first": "off"
      }
    }
  ],
  "settings": {
    "svelte3/typescript": true
  }
}
