{
  "extends": ["@logux/eslint-config/esm"],
  "rules": {
    "import/extensions": "off"
  },
  "parserOptions": {
    "extraFileExtensions": [".svelte"]
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "extends": ["plugin:svelte/recommended"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      },
      "rules": {
        "no-use-before-define": "off",
        "no-undef-init": "off",
        "import/first": "off"
      }
    },
    {
      "files": ["*/test/*"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "settings": {
    "svelte3/typescript": true
  }
}
