{
  "extends": "@logux/stylelint-config",
  "ignoreFiles": [
    "web/dist/**/*",
    "storybook-static/**/*"
  ],
  "overrides": [
    {
        "files": ["**/*.svelte"],
        "customSyntax": "postcss-html"
    }
]
}
