{
  "extends": "@logux/stylelint-config",
  "ignoreFiles": [
    "web/dist/**/*",
    "web/storybook-static/**/*"
  ],
  "rules": {
    "function-disallowed-list": ["rgb", "rgba", "hsl", "hsla"],
    "alpha-value-notation": "percentage"
  },
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "customSyntax": "postcss-html"
    }
  ]
}
