@define-mixin chromium-only {
  @supports (not (-moz-appearance: none)) and
    (not (background: -webkit-named-image(i))) {
    @mixin-content;
  }
}

@define-mixin safari-only {
  @supports (background: -webkit-named-image(i)) {
    @mixin-content;
  }
}
