:root {
  --focus-color: oklch(0.72 0.15 240);
  --dark-text-color: oklch(0.3 0 0);
  --light-text-color: oklch(0.9 0 0);
  --accent-color: oklch(0.6 0.23 260);
  --field-color: var(--main-land-color);
  --cta-button-shadow:
    inset 0 0.5px 0 oklch(1 0 0 / 70%), inset 0 -0.5px 0 oklch(0 0 0 / 50%),
    0 1px 2px oklch(0 0 0 / 30%), 0 0 0 0.5px oklch(0 0 0 / 30%);

  @media (prefers-color-scheme: light) {
    --selection-color: oklch(0.93 0.16 102);
    --text-color: var(--dark-text-color);
    --land-color: oklch(0.95 0 70);
    --main-land-color: oklch(0.975 0 70);
    --secondary-l: -0.03;
    --button-hover-l: -0.04;
    --dangerous-text-color: oklch(0.55 0.16 20);
    --pressed-shadow:
      inset 0 1px 2px oklch(0 0 0 / 50%), inset 0 -0.5px 0 oklch(1 0 0);

    &.is-comfort-mode {
      --land-color: oklch(0.95 0.03 70);
      --main-land-color: oklch(0.975 0.015 70);
    }
  }

  @media (prefers-color-scheme: dark) {
    --selection-color: oklch(0.5 0.1 102);
    --text-color: var(--light-text-color);
    --land-color: oklch(0.25 0 70);
    --secondary-l: 0.1;
    --button-hover-l: 0.03;
    --main-land-color: oklch(0.2 0 70);
    --pressed-shadow:
      inset 0 1px 2px oklch(0 0 0), inset 0 -0.5px 0 oklch(1 0 0 / 40%);

    &.is-comfort-mode {
      --land-color: oklch(0.25 0.03 70);
      --main-land-color: oklch(0.2 0.03 70);
    }
  }
}
