:root {
  --focus-color: oklch(0.72 0.15 240);
  --dark-text-color: oklch(0.3 0 0);
  --light-text-color: oklch(0.9 0 0);
  --accent-color: oklch(0.58 0.23 260);
  --dangerous-text-color: oklch(0.55 0.16 20);
  --dangerous-h: 20;
  --good-h: 140;
  --text-on-accent-color: oklch(1 0 0);
  --paper-background:
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 15px,
      oklch(0.9 0.04 247) 15px,
      oklch(0.9 0.04 247) 16px
    ),
    repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 15px,
        oklch(0.9 0.04 247) 15px,
        oklch(0.9 0.04 247) 16px
      )
      0 5px / 16px 16px oklch(0.99 0 0);
  --fire1-color: oklch(0.7 0.15 65);
  --fire2-color: oklch(0.58 0.2 29);

  &.is-comfort-mode {
    --flat-button-c: 0.01;
    --gutter-c: 0.02;
  }

  @media (color-gamut: p3) {
    --focus-color: oklch(0.68 0.2 240);
    --accent-color: oklch(0.54 0.27 260);
  }

  @media (prefers-color-scheme: light) {
    /* Don’t forget to change index.html and public/manifest.webmanifest */
    --land-color: oklch(0.95 0 70);
    --main-land-color: oklch(0.975 0 70);
    --selection-color: oklch(0.93 0.16 102);
    --text-color: var(--dark-text-color);
    --secondary-text-color: oklch(0.6 0 70);
    --button-hover-l: 0.05;
    --flat-button-l: -0.02;
    --flat-button-hover-l: -0.01;
    --gutter-l: -0.04;
    --note-l: -0.1;
    --note-c: 0.03;
    --field-l: 0.025;
    --current-l: 0.025;
    --placeholder-l: -0.06;
    --slider-hover-background: oklch(0 0 0 / 3%);
    --note-good-background: oklch(0.95 0.03 140);
    --note-dangerous-background: oklch(0.95 0.02 20);
    --bottom-panel-shadow:
      --linear-shadow(0 0 0.375rem oklch(0 0 0 / 5%)),
      inset 0 0.5px 0 0 oklch(1 0 0);
    --float-box-shadow: --soft-shadow(0 0.3rem 0.3rem oklch(0 0 0 / 10%));
    --button-shadow:
      inset 0 1px 0 oklch(1 0 0 / 80%), inset 0 -0.5px 0 oklch(0 0 0 / 30%),
      --linear-shadow(0 0.2rem 0.2rem oklch(0 0 0 / 10%));
    --pressed-shadow: inset 0 1px 2px oklch(0 0 0 / 50%);
    --flat-control-shadow: inset 0 0 0 0.5px oklch(0 0 0 / 15%);
    --flat-dangerous-shadow: inset 0 0 0 0.5px
      oklch(from var(--dangerous-text-color) l c h / 30%);
    --field-shadow:
      inset 0 -0.5px 0 0 oklch(1 0 0), inset 0 0 0 0.5px oklch(0 0 0 / 10%),
      inset 0 1px 2px oklch(0 0 0 / 20%);
    --gutter-shadow:
      inset 0 -0.5px 0 0 oklch(1 0 0 / 80%), inset 0 1px 2px oklch(0 0 0 / 15%);
    --current-shadow:
      --soft-shadow(0 1px 2px oklch(0 0 0 / 20%)),
      inset 0 1px 0 oklch(1 0 0 / 80%);

    &.is-comfort-mode {
      --land-color: oklch(0.95 0.03 70);
      --main-land-color: oklch(0.975 0.015 70);
      --secondary-text-color: oklch(0.6 0.05 70);
      --field-c: -0.015;
      --current-c: -0.015;
      --placeholder-c: 0.04;
    }
  }

  @media (prefers-color-scheme: dark) {
    --selection-color: oklch(0.5 0.1 102);
    --text-color: var(--light-text-color);
    --secondary-text-color: oklch(0.7 0 70);
    --land-color: oklch(0.25 0 70);
    --button-hover-l: 0.03;
    --flat-button-l: 0.03;
    --flat-button-hover-l: 0.02;
    --gutter-l: 0.04;
    --note-l: 0.2;
    --note-c: 0.03;
    --main-land-color: oklch(0.3 0 70);
    --note-good-background: oklch(0.25 0.03 140);
    --note-dangerous-background: oklch(0.25 0.03 20);
    --field-l: -0.05;
    --current-l: 0.15;
    --placeholder-l: 0.15;
    --slider-hover-background: oklch(1 0 0 / 2%);
    --bottom-panel-shadow:
      --linear-shadow(0 0 0.375rem oklch(0 0 0 / 30%)),
      inset 0 0.5px 0 0 oklch(1 0 0 / 30%);
    --float-box-shadow: --soft-shadow(0 0.3rem 0.3rem oklch(0 0 0 / 30%));
    --button-shadow:
      inset 0 1px 0 oklch(1 0 0 / 30%), inset 0 -0.5px 0 oklch(0 0 0 / 90%),
      --linear-shadow(0 0.2rem 0.2rem oklch(0 0 0 / 25%));
    --pressed-shadow:
      inset 0 1px 2px oklch(0 0 0), inset 0 -0.5px 0 oklch(1 0 0 / 40%);
    --flat-control-shadow: inset 0 0 0 0.5px oklch(1 0 0 / 20%);
    --flat-dangerous-shadow: inset 0 0 0 0.5px
      oklch(from var(--dangerous-text-color) l c h / 60%);
    --field-shadow:
      inset 0 -0.5px 0 0 oklch(1 0 0 / 30%), inset 0 0 0 0.5px oklch(0 0 0),
      inset 0 1px 2px oklch(0 0 0 / 50%);
    --gutter-shadow:
      inset 0 -0.5px 0 oklch(1 0 0 / 15%), inset 0 1px 2px oklch(0 0 0 / 60%);
    --current-shadow:
      --soft-shadow(0 1px 2px oklch(0 0 0 / 40%)),
      inset 0 1px 0 oklch(1 0 0 / 30%);

    &.is-comfort-mode {
      --land-color: oklch(0.25 0.03 70);
      --main-land-color: oklch(0.3 0.03 70);
      --secondary-text-color: oklch(0.7 0.05 70);
      --current-c: 0.02;
      --placeholder-c: 0.03;
    }
  }
}
