@import url('@evilmartians/harmony/css/blue.css');
@import url('@evilmartians/harmony/css/sand.css');
@import url('@evilmartians/harmony/css/neutral.css');

:root {
  --focus-color: var(--blue-500);
  --land-color: var(--neutral-100);
  --text-color: var(--neutral-950);
  --zone-color: oklch(0% 0 0 / 10%);

  @media (prefers-color-scheme: dark) {
    --land-color: var(--neutral-900);
    --text-color: var(--neutral-50);
    --zone-color: oklch(100% 0 0 / 10%);
  }

  &.is-slow {
    --land-color: var(--sand-100);

    @media (prefers-color-scheme: dark) {
      --land-color: var(--sand-900);
    }
  }
}
