:root {
  --padding-s: 4px;
  --padding-m: 8px;
  --padding-l: 16px;
  --padding-xl: 24px;
  --base-font: 1rem/1.6 system-ui;
  --page-title-font: 1.4rem serif;
  --hotkey-font: bold 0.7rem/1 system-ui;
  --inner-radius: 8px;
  --outer-radius: 24px;
  --control-height: 40px;
}
