:root {
  --padding-m: 8px;
  --padding-l: 16px;
  --padding-xl: 24px;
  --base-font: 1rem/1.6 system-ui;
  --control-font: bold 100%/1.6 system-ui;
  --page-title-font: 140% serif;
  --hotkey-font: bold 90%/1 system-ui;
  --radius: 8px;
}
