@import url('@fontsource-variable/noto-sans');
@import url('@fontsource-variable/noto-sans/wght-italic.css');
@import url('@fontsource-variable/noto-serif');
@import url('@fontsource-variable/noto-serif/wght-italic.css');
@import url('@fontsource-variable/noto-sans-mono');
@import url('@fontsource/inika');

@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 600;
  src: url('@fontsource/playpen-sans/files/playpen-sans-latin-600-normal.woff2')
    format('woff2');
  font-display: swap;
}

:root {
  --text-family: 'Noto Sans Variable', 'Arial', sans-serif;
  --comfort-family: 'Noto Serif Variable', 'Georgia', serif;
  --app-title-family: 'Inika', 'Noto Serif Variable', 'Georgia', serif;
  --mono-family: 'Noto Mono Sans Variable', monospace;
  --handwritten-family: 'Playpen Sans', monospace;
  --text-font: 400 0.9375rem/1.6 var(--text-family);
  --secondary-font: 400 0.875rem/1.6 var(--text-family);
  --tertiary-font: 400 0.75rem/1 var(--text-family);
  --secondary-title-font: 600 0.875rem/1.6 var(--text-family);
  --app-title-font: 400 1.5rem/1.2 var(--app-title-family);
  --counter-font: 600 1.5rem/1.2 var(--app-title-family);
  --control-font: 500 0.9375rem/1.2 var(--text-family);
  --control-secondary-font: 500 0.875rem/1.2 var(--text-family);
  --mono-font: 400 1rem/1.6 var(--mono-family);
  --handwritten-font: 600 1.125rem/1 var(--handwritten-family);
}
