@import url('@fontsource-variable/noto-sans');
@import url('@fontsource-variable/noto-sans/wght-italic.css');
@import url('@fontsource-variable/noto-serif');
@import url('@fontsource-variable/noto-serif/wght-italic.css');
@import url('@fontsource-variable/noto-sans-mono');
@import url('@fontsource/inika');

@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-weight: 600;
  src: url('@fontsource/playpen-sans/files/playpen-sans-latin-600-normal.woff2')
    format('woff2');
  font-display: swap;
}

:root {
  --text-font: 400 1rem/1.6 'Noto Sans Variable', 'Arial', sans-serif;
  --secondary-font: 400 0.875rem/1.6 'Noto Sans Variable', 'Arial', sans-serif;
  --secondary-title-font:
    600 0.875rem/1.6 'Noto Sans Variable', 'Arial', sans-serif;
  --app-title-font:
    400 1.5rem/1.2 'Inika', 'Noto Serif Variable', 'Georgia', serif;
  --control-font: 500 1rem/1.2 'Noto Sans Variable', 'Arial', sans-serif;
  --control-secondary-font:
    500 0.875rem/1.2 'Noto Sans Variable', 'Arial', sans-serif;
  --mono-font: 400 1rem/1.6 'Noto Mono Sans Variable', monospace;
  --control-mono-font: 500 1rem/1.6 'Noto Mono Sans Variable', monospace;
  --handwritten-font: 600 1.125rem/1 'Playpen Sans', monospace;
}
