@import url('@fontsource-variable/noto-sans');

:root {
  --base-font: 400 15px/1.6 'Noto Sans Variable', system-ui;
  --control-font: 500 15px/1.6 'Noto Sans Variable', system-ui;
  --control-note-font: 500 13px/1.6 'Noto Sans Variable', system-ui;
}
