@import url('./reset.css');
@import url('./colors.css');
@import url('./common.css');

:root {
  color-scheme: light dark;

  &.is-light {
    color-scheme: light;
  }

  &.is-dark {
    color-scheme: dark;
  }
}

body {
  display: flex;
  color: var(--text-color);
  background: var(--land-color);
}

body,
input {
  font: var(--font-base);
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 3px solid var(--focus-color);
}

#main {
  box-sizing: border-box;
  width: 100%;
  padding-inline-start: calc(var(--navbar-width) + var(--padding-m));
}
