@import url('./reset.css');
@import url('./colors.css');
@import url('./fonts.css');
@import url('./sizes.css');
@import url('./animations.css');

:root {
  --theme-color: var(--land-color);

  overscroll-behavior-y: none;
  color-scheme: light dark;

  &.is-light-theme {
    color-scheme: light;
  }

  &.is-dark-theme {
    color-scheme: dark;
  }

  @media (--biggest-font) {
    font-size: 125%;
  }

  @media (--bigger-font) {
    font-size: 110%;
  }
}

* {
  flex-shrink: 0;
}

body {
  color: var(--text-color);
  -webkit-tap-highlight-color: oklch(0 0 0 / 0%);
}

body,
input {
  font: var(--text-font);
}

html:not(.is-quiet-cursor) {
  a,
  select:not(:disabled),
  button:not(:disabled),
  label[tabindex] {
    cursor: pointer;
  }
}

html.is-quiet-cursor {
  a {
    cursor: default;
  }
}

:focus-visible {
  z-index: 10;
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
  transition:
    outline-width var(--focus-time) var(--pop-easing),
    outline-offset var(--focus-time) var(--pop-easing);
}

:focus-visible:active:not([aria-disabled='true']) {
  outline-offset: 0;
  transition: none;
}

::selection {
  background: var(--selection-color);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

#main {
  /* Don’t forget to update web/.storybook/preview-head.html */
  @mixin background var(--land-color);

  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  @media (--desktop) {
    padding-inline-start: var(--navbar-width);
  }

  @media (--no-desktop) {
    padding-bottom: var(--navbar-height);
  }
}

pre,
code {
  font: var(--mono-font);
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 0 !important;
  }
}

.sr-only {
  position: absolute;
  width: var(--min-size);
  height: var(--min-size);
  padding: 0;
  margin: calc(-1 * var(--min-size));
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: inset(50%);
}
