:root {
  color-scheme: light dark;

  &.is-light {
    color-scheme: light;
  }

  &.is-dark {
    color-scheme: dark;
  }
}

body {
  --navbar-width: 150px;
  --app-padding: 8px;

  display: flex;
  color: var(--text-color);
  background: var(--app-background);

  &.is-slow {
    --app-background: var(--reading-background);
  }

  &.is-guest {
    --navbar-width: 0;
  }
}

body,
input {
  font-family: system-ui;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 3px solid var(--focus-color);
}

#main {
  padding-left: calc(var(--navbar-width) + var(--app-padding));
}
