@import url('./reset.css');
@import url('./colors.css');
@import url('./fonts.css');

:root {
  color-scheme: light dark;

  &.is-light-theme {
    color-scheme: light;
  }

  &.is-dark-theme {
    color-scheme: dark;
  }
}

* {
  flex-shrink: 0;
}

body {
  color: var(--text-color);

  --land: var(--land-color);

  background: var(--land-color);
  -webkit-tap-highlight-color: oklch(0 0 0 / 0%);
}

body,
input {
  font: var(--base-font);
}

::selection {
  background: var(--selection-color);
}

:focus-visible {
  z-index: 10;
  outline: 3px solid var(--focus-color);
  outline-offset: 3px;
  transition:
    outline-width 200ms cubic-bezier(0.34, 1.56, 0.64, 1),
    outline-offset 200ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

:focus-visible:active {
  outline-offset: 0;
  transition: none;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

#main {
  box-sizing: border-box;
  width: 100%;
}
