@import url('./reset.css');
@import url('./colors.css');
@import url('./fonts.css');
@import url('./sizes.css');
@import url('./animations.css');

:root {
  --theme-color: var(--land-color);

  overscroll-behavior-y: none;
  color-scheme: light dark;

  &.is-light-theme {
    color-scheme: light;
  }

  &.is-dark-theme {
    color-scheme: dark;
  }

  @media (--biggest-font) {
    font-size: 125%;
  }

  @media (--bigger-font) {
    font-size: 110%;
  }
}

* {
  flex-shrink: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

body {
  color: var(--text-color);
  -webkit-tap-highlight-color: oklch(0 0 0 / 0%);

  @media (display-mode: browser) {
    /* Change mobile Chrome bottom panel to fit with navbar */
    background: var(--land-color);

    @media (--no-desktop) {
      :root.has-navbar & {
        background: var(--main-land-color);

        /* For Safari */
        @supports (-webkit-touch-callout: none) {
          background: var(--land-color);
        }
      }
    }
  }

  @media (display-mode: standalone) {
    padding-top: env(safe-area-inset-top);
    background: var(--land-color);
  }
}

body,
input {
  font: var(--text-font);
}

html:not(.is-quiet-cursor) {
  a,
  select:not(:disabled),
  button:not(:disabled),
  label[tabindex] {
    cursor: pointer;
  }
}

html.is-quiet-cursor {
  a {
    cursor: default;
  }
}

:focus-visible {
  @mixin focus;
}

::selection {
  background: var(--selection-color);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

.main {
  @mixin background var(--land-color);

  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100svh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (--desktop) {
    padding-inline-start: var(--navbar-width);
  }

  @media (--no-desktop) {
    padding-bottom: var(--navbar-height);
  }
}

pre,
code {
  font: var(--mono-font);
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 0 !important;
  }
}

.sr-only {
  position: absolute;
  width: var(--min-size);
  height: var(--min-size);
  padding: 0;
  margin: calc(-1 * var(--min-size));
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: inset(50%);
}
