:root {
  color-scheme: light dark;
}

body {
  --navbar-width: 150px;
  --app-padding: 8px;

  display: flex;
  color: var(--text-color);
  background: var(--app-background);
}

body,
input {
  font-family: system-ui;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 3px solid var(--focus-color);
}

body.is-slow {
  --app-background: var(--reading-background);
}

body.is-guest {
  --navbar-width: 0;
}

#main {
  padding-left: calc(var(--navbar-width) + var(--app-padding));
}
