@import url('./reset.css');
@import url('./colors.css');
@import url('./common.css');

:root {
  color-scheme: light dark;

  &.is-light-theme {
    color-scheme: light;
  }

  &.is-dark-theme {
    color-scheme: dark;
  }
}

* {
  flex-shrink: 0;
}

body {
  display: flex;
  color: var(--text-color);
  background: var(--land-color);
}

body,
input {
  font: var(--base-font);
}

:focus-visible {
  z-index: 10;
  outline: 3px solid var(--focus-color);
  outline-offset: 3px;
  transition:
    outline-width 200ms cubic-bezier(0.34, 1.56, 0.64, 1),
    outline-offset 200ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

#main {
  box-sizing: border-box;
  width: 100%;
  padding-inline-start: var(--navbar-width);
}
