:root {
  --base-radius: 0.375rem;
  --thin-content-width: 20rem;
  --control-height: 2rem;
  --control-gap: 0.4rem;
  --control-padding: 0.75rem;
  --slider-padding: 0.125rem;
  --page-padding: 0.5rem;

  @supports (corner-shape: squircle) {
    --base-radius: 0.65rem;
  }
}
