:root {
  --base-radius: 0.375rem;
  --thin-content-width: 22rem;
  --max-content-width: 32rem;
  --control-height: 2rem;
  --control-gap: 0.4rem;
  --control-padding: 0.75rem;
  --slider-padding: 0.125rem;
  --page-padding: 1rem;
  --navbar-padding: 0.3125rem;
  --navbar-height: 2.62rem;
  --min-size: 1px;
  --navbar-width: 0px;
  --popup-size: calc((100vw - var(--navbar-width)) / 2);

  &.has-navbar {
    --navbar-width: 16rem;
  }

  @supports (corner-shape: squircle) {
    --base-radius: 0.65rem;
  }

  @media (--no-desktop) {
    --page-padding: 0.5rem;
    --navbar-padding: 0.5rem;
    --navbar-height: 3rem;

    &.has-navbar {
      --navbar-width: 0px;
    }
  }

  @media (--tablet) {
    --popup-size: 50vw;
  }

  @media (--mobile) {
    --thin-content-width: calc(100vw - 2 * var(--page-padding));
    --popup-size: 100vw;
  }
}

@custom-media --desktop (width > 68rem);
@custom-media --no-desktop (width <= 68rem);
@custom-media --popups-stack (width >= 89rem);
@custom-media --tablet (width <= 68rem) and (width > 44rem);
@custom-media --mobile (width <= 44rem);
@custom-media --mobile (width <= 44rem);
@custom-media --no-mobile (width > 44rem);
@custom-media --bigger-font ((width <= 410px) and (width > 380px)) or (width > 1700px);
@custom-media --biggest-font (width <= 640px) and (width > 410px);
