@define-mixin clickable {
  color: var(--text-color);
  text-decoration: none;
  user-select: none;
  background: transparent;
  border: none;

  &[aria-disabled='true'] {
    pointer-events: none;
  }
}
