@define-mixin clickable {
  text-decoration: none;
  user-select: none;
  border: none;
  color: var(--text-color);
  background: transparent;

  &[aria-disabled='true'] {
    pointer-events: none;
  }
}
