name: Vulnerability Audit
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/audit.yml'
      - '.github/actions/init-node/action.yml'
  pull_request:
    paths:
      - '.github/workflows/audit.yml'
      - '.github/actions/init-node/action.yml'
  schedule:
    - cron: '00 23 * * *' # Runs at midnight UTC every day
jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
        with:
          install: false
      - name: Check Node.js version for vulnerabilities
        run: pnpm dlx is-my-node-vulnerable
      - name: Check dependencies for vulnerabilities
        run: node --run test:audit
