name: Daily Vulnerability Audit
on:
  schedule:
    - cron: '00 23 * * *' # Runs at midnight UTC every day
jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.2.1
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
        with:
          install: false
      - name: Check Node.js version for vulnerabilities
        run: pnpm dlx is-my-node-vulnerable
      - name: Check dependencies for vulnerabilities
        run: node --run test:audit
