name: Markdown Linter
on:
  push:
    branches:
      - main
    paths:
      - '**/*.md'
      - '.remarkrc.js'
      - '.remarkignore'
      - 'pnpm-lock.yaml'
      - '.github/workflows/docs.yml'
      - '.github/actions/init-node/action.yml'
  pull_request:
    paths:
      - '**/*.md'
      - '.remarkrc.js'
      - '.remarkignore'
      - 'pnpm-lock.yaml'
      - '.github/workflows/docs.yml'
      - '.github/actions/init-node/action.yml'
permissions:
  contents: read
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.2.0
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Check docs
        run: node --run test:markdown
