name: Markdown Linter
on:
  push:
    branches:
      - main
    paths:
      - '**/*.md'
      - '.remarkrc'
      - '.remarkignore'
      - 'pnpm-lock.yaml'
      - '.github/workflows/docs.yml'
      - '.github/actions/init-node/action.yml'
  pull_request:
    paths:
      - '**/*.md'
      - '.remarkrc'
      - '.remarkignore'
      - 'pnpm-lock.yaml'
      - '.github/workflows/docs.yml'
      - '.github/actions/init-node/action.yml'
  schedule:
    - cron: '00 23 * * 1' # Runs at midnight every Monday
permissions:
  contents: read
jobs:
  test:
    name: Check Docs
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit # Allow all to validate links
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
        with:
          install: -F .
      - name: Check docs
        run: node --run test:online:markdown
