name: Fix code style
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/format.yml'
      - '.github/actions/init-node/action.yml'
  pull_request:
    paths:
      - '.github/workflows/format.yml'
      - '.github/actions/init-node/action.yml'
  schedule:
    - cron: '00 04 * * *' # Runs at midnight UTC every day
permissions:
  contents: write
jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            release-assets.githubusercontent.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Check for today commits
        id: today
        run: |
          today=$(date -u +"%Y-%m-%d")
          last_commit_date=$(git log -1 --format=%cd --date=short)
          if [ "$today" == "$last_commit_date" ]; then
            echo "has_commits=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_commits=false" >> "$GITHUB_OUTPUT"
            echo "No commits today. Stopping the workflow."
          fi
      - name: Format code
        if: steps.today.outputs.has_commits == 'true'
        run: node --run format
      - name: Commit changes
        if: steps.today.outputs.has_commits == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "Auto-format code"
            git push
          else
            echo "No changes to commit"
          fi
