name: Start Preview Deployment
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'scripts/**'
      - '.vscode/**'
      - '.husky/**'
      - '.github/**'
      - 'core/test/**'
      - 'proxy/test/**'
      - 'server/test/**'
      - 'loader-tests/**'
      - '.devcontainer/**'
      - 'extension/**'
permissions:
  contents: read
jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.2.0
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Build assets
        run: cd web && node --run build
        env:
          STAGING: 1
      - name: Build server
        run: cd server && node --run build
      - name: Save PR number
        run: echo "${{ github.event.pull_request.number }}" > ./preview-id
      - name: Create archive to keep symlinks
        run: tar -cf server.tar server/dist/
      - name: Save server for deploy
        uses: actions/upload-artifact@v4.4.1
        with:
          name: preview-server
          retention-days: 1
          include-hidden-files: true
          path: |
            server/web/
            server/Dockerfile
            server/.dockerignore
            preview-id
            server.tar
