name: Start Preview Deployment
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'scripts/**'
      - '.vscode/**'
      - '.husky/**'
      - '.github/**'
      - 'core/test/**'
      - 'proxy/test/**'
      - 'server/test/**'
      - 'loader-tests/**'
      - '.devcontainer/**'
      - 'extension/**'
permissions:
  contents: read
jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            release-assets.githubusercontent.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            storybook.js.org:443
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Build assets
        run: cd web && node --run build
        env:
          STAGING: 1
      - name: Build server
        run: cd server && node --run build
      - name: Save PR number
        run: echo "${{ github.event.pull_request.number }}" > ./preview-id
      - name: Create archive to keep symlinks
        run: tar -cf server.tar server/dist/
      - name: Save server for deploy
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: preview-server
          retention-days: 1
          include-hidden-files: true
          path: |
            server/web/
            server/Dockerfile
            server/.dockerignore
            preview-id
            server.tar
