name: Prepare Preview
on:
  pull_request:
permissions:
  contents: read
  id-token: write
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install tools from asdf config
        uses: ai/asdf-cache-action@v1
      - name: Install dependencies
        run: pnpm install --ignore-scripts
      - name: Build assets
        run: cd web && pnpm build
      - name: Save web assets for deploy
        uses: actions/upload-artifact@v4
        name: preview-${{ github.event.number }}
        path: ./web/dist/
