name: Clean Preview
on:
  workflow_run:
    workflows:
      - Close Preview
    types:
      - completed
permissions:
  id-token: write
  deployments: write
jobs:
  close:
    name: Close
    runs-on: ubuntu-latest
    env:
      PROJECT_ID: slowreader-453400
      REGION: europe-west1
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: block
          allowed-endpoints: >
            9236a389bd48b984df91adc1bc924620.r2.cloudflarestorage.com:443
            api.github.com:443
            apk.cgr.dev:443
            artifactregistry.googleapis.com:443
            cgr.dev:443
            dl.google.com:443
            europe-west1-docker.pkg.dev:443
            europe-west1-run.googleapis.com:443
            github.com:443
            iamcredentials.googleapis.com:443
            nodejs.org:443
            raw.githubusercontent.com:443
            run.googleapis.com:443
            serviceusage.googleapis.com:443
            sts.googleapis.com:443
      - name: Download PR number from prepare step
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: preview-id
          repository: ${{ github.repository_owner }}/${{ github.event.repository.name }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.PREVIEW_ARTIFACT_PAT }}
      - name: Extract PR number
        run: |
          PR_NUMBER=$(cat ./preview-id)
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_ENV
      - name: Disable deploy at GitHub
        continue-on-error: true
        uses: bobheadxi/deployments@648679e8e4915b27893bd7dbc35cb504dc915bc8 # v1.5.0
        with:
          step: delete-env
          token: ${{ secrets.PREVIEW_DEPLOYMENT_PAT }}
          env: preview-${{ env.PR_NUMBER }}
      - name: Auth Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: projects/300174498438/locations/global/workloadIdentityPools/github/providers/hplush
          service_account: github-deploy@${{ env.PROJECT_ID }}.iam.gserviceaccount.com
      - name: Install Google Cloud
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
      - name: Shut down Cloud Run
        run: gcloud run services update-traffic staging-server --region=${{ env.REGION }} --project=${{ env.PROJECT_ID }} --remove-tags preview-${{ env.PR_NUMBER }} --async
      - name: Delete image
        run: |
          tagged=$(gcloud artifacts docker images list $REGION-docker.pkg.dev/$PROJECT_ID/staging/server --include-tags --format="get(version)" --filter="tags = 'preview-${{ env.PR_NUMBER }}'")
          for digest in $tagged; do
            image=$REGION-docker.pkg.dev/$PROJECT_ID/staging/server@$digest
            echo "Deleting unused image: $image"
            gcloud artifacts docker images delete $image --delete-tags --quiet
          done
