name: Clean Preview
on:
  workflow_run:
    workflows:
      - Close Preview
    types:
      - completed
permissions:
  id-token: write
  deployments: write
  packages: write
jobs:
  close:
    name: Close
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            9236a389bd48b984df91adc1bc924620.r2.cloudflarestorage.com:443
            api.github.com:443
            apk.cgr.dev:443
            cgr.dev:443
            github.com:443
            nodejs.org:443
            ghcr.io:443
            raw.githubusercontent.com:443
      - name: Download PR number from prepare step
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: preview-id
          repository: ${{ github.repository_owner }}/${{ github.event.repository.name }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.PREVIEW_ARTIFACT_PAT }}
      - name: Extract PR number
        run: |
          PR_NUMBER=$(cat ./preview-id)
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_ENV
      - name: Disable deploy at GitHub
        continue-on-error: true
        uses: bobheadxi/deployments@648679e8e4915b27893bd7dbc35cb504dc915bc8 # v1.5.0
        with:
          step: delete-env
          token: ${{ secrets.PREVIEW_DEPLOYMENT_PAT }}
          env: preview-${{ env.PR_NUMBER }}
      - name: Delete preview image
        uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1.0.16
        with:
          package: slowreader
          owner: hplush
          delete-tags: preview-${{ env.PR_NUMBER }}
          token: ${{ secrets.GITHUB_TOKEN }}
