name: Start Preview Deployment
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'scripts/**'
      - '.vscode/**'
      - '.husky/**'
      - '.github/**'
      - 'core/test/**'
      - 'proxy/test/**'
      - 'server/test/**'
      - 'loader-tests/**'
      - '.devcontainer/**'
      - 'extension/**'
permissions:
  contents: read
jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            release-assets.githubusercontent.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            storybook.js.org:443
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Build assets
        run: cd web && node --run build
        env:
          STAGING: 1
      - name: Build server
        run: cd server && node --run build
      - name: Save PR number
        run: echo "${{ github.event.pull_request.number }}" > ./preview-id
      - name: Create archive to keep symlinks
        run: tar -cf server.tar server/dist/
      - name: Save server for deploy
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: preview-server
          retention-days: 1
          include-hidden-files: true
          path: |
            server/web/
            server/Dockerfile
            server/.dockerignore
            preview-id
            server.tar
