name: Proxy
on:
  push:
    branches:
      - main
    paths:
      - 'proxy/*'
      - 'proxy/**/*'
      - '!proxy/*.md'
      - 'pnpm-lock.yaml'
      - '.github/workflows/proxy.yml'
      - '.github/actions/init-node/action.yml'
  pull_request:
    paths:
      - 'proxy/*'
      - 'proxy/**/*'
      - '!proxy/*.md'
      - 'pnpm-lock.yaml'
      - '.github/workflows/proxy.yml'
      - '.github/actions/init-node/action.yml'
jobs:
  test:
    name: Proxy Test
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            9236a389bd48b984df91adc1bc924620.r2.cloudflarestorage.com:443
            api.github.com:443
            apk.cgr.dev:443
            cgr.dev:443
            github.com:443
            nodejs.org:443
            release-assets.githubusercontent.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Run tests
        run: cd proxy && pnpm test
      - name: Test Docker build
        if: github.ref != 'refs/heads/main'
        run: cd proxy && node --run build && docker build .
  build:
    name: Proxy Build
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
        with:
          cache: false
          install: -F proxy --prod
      - name: Build server
        run: cd proxy && node --run build
      - name: Create archive to keep symlinks
        run: tar -cf proxy.tar proxy/dist/
      - name: Upload proxy build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: proxy-build-${{ github.sha }}
          retention-days: 1
          include-hidden-files: true
          path: |
            ./proxy.tar
  staging:
    name: Proxy Staging Deploy
    needs:
      - test
      - build
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    concurrency:
      group: staging-proxy
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            9236a389bd48b984df91adc1bc924620.r2.cloudflarestorage.com:443
            api.github.com:443
            apk.cgr.dev:443
            cgr.dev:443
            github.com:443
            nodejs.org:443
            raw.githubusercontent.com:443
            ghcr.io:443
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Download web assets from test step
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: proxy-build-${{ github.sha }}
          path: ./
      - name: Extract archive to restore symlinks
        run: tar -xf proxy.tar
      - name: Build Docker image
        run: docker build -t ghcr.io/hplush/slowreader-proxy:dev ./proxy/
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker image
        run: docker push ghcr.io/hplush/slowreader-proxy:dev
