name: Loaders Test
on:
  push:
    branches:
      - main
    paths:
      - 'loader-tests/test-loaders.ts'
      - 'loader-tests/utils.ts'
      - 'loader-tests/feeds.yml'
      - 'core/loader/*.ts'
      - 'pnpm-lock.yaml'
      - '.github/workflows/test-loaders.yml'
      - '.github/actions/init-node/action.yml'
  pull_request:
    paths:
      - 'loader-tests/test-loaders.ts'
      - 'loader-tests/utils.ts'
      - 'loader-tests/feeds.yml'
      - 'core/loader/*.ts'
      - 'pnpm-lock.yaml'
      - '.github/workflows/test-loaders.yml'
      - '.github/actions/init-node/action.yml'
  schedule:
    - cron: '00 23 * * *' # Runs at midnight UTC every day
permissions:
  contents: read
jobs:
  test:
    name: Loader Test
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit # Allow all to check feeds
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Run tests
        run: cd loader-tests && node --run test
