name: Loaders Test
on:
  push:
    branches:
      - main
    paths:
      - 'loader-tests/test-loaders.ts'
      - 'loader-tests/utils.ts'
      - 'loader-tests/feeds.yml'
      - 'core/loader/*.ts'
      - 'pnpm-lock.yaml'
      - '.github/workflows/test-loaders.yml'
      - '.github/actions/init-node/action.yml'
  pull_request:
    paths:
      - 'loader-tests/test-loaders.ts'
      - 'loader-tests/utils.ts'
      - 'loader-tests/feeds.yml'
      - 'core/loader/*.ts'
      - 'pnpm-lock.yaml'
      - '.github/workflows/test-loaders.yml'
      - '.github/actions/init-node/action.yml'
  schedule:
    - cron: '00 23 * * *' # Runs at midnight UTC every day
permissions:
  contents: read
jobs:
  test:
    name: Loader Test
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit # Allow all to check feeds
      - name: Checkout the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Initialize Node.js
        uses: ./.github/actions/init-node
      - name: Run tests
        run: node --run test-loaders
