name: Visual Test
on:
  schedule:
    - cron: '00 04 * * *' # Runs at night every day
  push:
    branches:
      - main
    paths:
      - '.github/workflows/visual.yml'
permissions:
  contents: read
jobs:
  chromatic:
    name: Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            chromatic-builds.s3.us-west-2.amazonaws.com:443
            github.com:443
            index.chromatic.com:443
            nodejs.org:443
            release-assets.githubusercontent.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            storybook.js.org:443
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Check if should run
        id: should_run
        run: |
          now=$(date -u +%s)
          twenty_four_hours_ago=$((now - 86400))
          last_commit_time=$(git log -1 --format=%ct)
          if [ "$last_commit_time" -ge "$twenty_four_hours_ago" ]; then
            echo "should_run=true" >> "$GITHUB_OUTPUT"
          else
            echo "should_run=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Initialize Node.js
        if: steps.should_run.outputs.should_run == 'true'
        uses: ./.github/actions/init-node
      - name: Publish to Chromatic
        if: steps.should_run.outputs.should_run == 'true'
        run: cd web && pnpm chromatic --skip-update-check
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
