# Browsers that we support. See actual browsers:
# https://browsersl.ist/#q=baseline+widely+available+on+2026-02-20+with+downstream
#
# Don’t forget to update links on changes.

baseline widely available on 2026-02-20 with downstream
