{
  "extends": "@logux/stylelint-config",
  "ignoreFiles": ["web/dist/**/*", "*/coverage/lcov-report/*"],
  "rules": {
    "function-disallowed-list": ["rgb", "rgba", "hsl", "hsla"],
    "alpha-value-notation": "percentage",
    "property-disallowed-list": [
      [
        "left",
        "right",
        "margin-left",
        "margin-right",
        "padding-left",
        "padding-right",
        "/^border-left/",
        "/^border-right/"
      ],
      {
        "message": "Use logical properties for better RTL support"
      }
    ],
    "no-descending-specificity": null,
    "color-named": "never"
  },
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "customSyntax": "postcss-html"
    }
  ]
}
