{
  "extends": "@logux/stylelint-config",
  "ignoreFiles": ["web/dist/**/*", "*/coverage/lcov-report/*"],
  "rules": {
    "function-disallowed-list": ["rgb", "rgba", "hsl", "hsla"],
    "alpha-value-notation": "percentage",
    "color-named": "never"
  },
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "customSyntax": "postcss-html"
    }
  ]
}
